*,*:before,*:after {
    box-sizing: border-box;
}

.header {
    background-color: #1F2937;
    color: #ffffff;
    padding: 0px;
}

.personal-page {
    margin-bottom: 100px;
    @include media-xl-max{
        margin-bottom: 80px;
    }
    @include media-lg-max{
        margin-bottom: 70px;
    }
    @include media-md-max{
        margin-top: 80px;
        margin-bottom: 50px;
    }
    @include media-sm-max{
        margin-bottom: 50px;
    }
}

.interesting-article {
    margin: 100px 0px 100px 0px;
}

.personal-page__heading {
    text-align: center;
    padding: 65px;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;

    @include media-sm-max{
        font-size: 30px;
        padding: 35px;
    }
}

.personal-page__second-heading {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 50px;

    @include media-lg-max{
        font-size: 30px;
        margin-bottom: 35px;  
    }
    @include media-md-max{
        font-size: 24px;
        margin-bottom: 25px;  
    }
    @include media-sm-max{
        font-size: 20px;
        margin-bottom: 20px;  
    }
}

.interesting-article__heading {
    text-align: center;
}

.interesting-article__header {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -0.025em;
    margin-top: 100px;
    margin-bottom: 16px;

    @include media-lg-max{
        font-size: 30px;
        margin-top: 60px;
        margin-bottom: 14px;
    }
    @include media-md-max{
        font-size: 26px;
        margin-top: 50px;
        margin-bottom: 12px;
    }
    @include media-sm-max{
        font-size: 20px;
        margin-top: 40px;
        margin-bottom: 10px;
    }
}

.interesting-article__supporting-header {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #6B7280;
    margin-bottom: 48px;

    @include media-lg-max{
        margin-bottom: 35px;
    }
    @include media-md-max{
        font-size: 18px;
        margin-bottom: 25px;
    }
    @include media-sm-max{
        font-size: 16px;
        margin-bottom: 20px;
    }
}


/*Personal_page end*/

.container {
    width: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
}

/*Footer*/

.footer {
    display: flex;
    align-items: center;
    text-align: right;
    height: 87px;
    margin-top: 79px;
    background-color: #6A6A6A;
}

.footer__copyright {
    font-size: 12px;
    color:#F5F5F5;
}